body {
    background-image: url("/img/lordfay.jpg"); 
    background-position: right top; 
    background-repeat: no-repeat;
    background-size: cover;
  }

.black-container {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

.quote {
     /* fixed within viewport */
     position: fixed;

     /* set position */
     top: 0px;
     right: 0px;
 
     /* must have dimension */
     width: 800px;
     height: 450px;

     padding: 50px;
}

.quote h1 {
    font-size: 100px;
    margin-bottom: 0px;
}

.quote p {
    font-size: 30px;
    margin-bottom: 0px;
    padding:10px;
}

hr {
    width: 100%;
    padding:1px;
}

.quote p,.quote h1 {
    color:white;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
    font-family: "Arial","Times New Roman", Times, serif;
}

/* Responsive component */

@media screen and (max-width: 1300px){

    body {
        background-image: url("/img/fay_mobile_big.jpg"); 
        background-position: right top; 
        background-repeat: no-repeat;
        background-size: cover;
      }

      .quote {
        position: fixed;
        top: 50%; 
        left: 50%;
        margin-top: -275px;
        margin-left: -425px;
   }
  
  }

  @media screen and (max-width: 850px){

    body {
        background-image: url("/img/fay_mobile_small.jpg"); 
        background-position: right top; 
        background-repeat: no-repeat;
        background-size: cover;
      }

      .quote {
        position: fixed;
        margin-left: 0; 
        width: 70%;
        left: 10%;
   }

   .quote h1 {
    font-size: 75px;
    }

    .quote p {
        font-size: 30px;
    }
  
  }